// Blue Grays
$blue-gray-lighten-5:  #EFF2F4;
$blue-gray-lighten-4:  #DFE5E8;
$blue-gray-lighten-3:  #BFCBD1;
$blue-gray-lighten-2:  #A0B1B9;
$blue-gray-lighten-1:  #8097A2;
$blue-gray:            #607D8B;
$blue-gray-darken-1:   #4D646F;
$blue-gray-darken-2:   #3A4B53;
$blue-gray-darken-3:   #263238;
$blue-gray-darken-4:   #13191C;
$blue-gray-darken-5:   #050607;

// Blues
$blue-lighten-5: #E9F5FE;
$blue-lighten-4: #D3EAFD;
$blue-lighten-3: #A6D5FA;
$blue-lighten-2: #7AC0F8;
$blue-lighten-1: #64B5F6;
$blue:           #2196F3;
$blue-darken-1:  #1A78C2;
$blue-darken-2:  #145A92;
$blue-darken-3:  #0D3C61;
$blue-darken-4:  #071E31;
$blue-darken-5:  #02080C;
