// Use this if you want your text within a element to look like a blog.

@mixin text-area-mixin() {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    line-height: 1.1;
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }
}
